
<!--Home page-->
    {% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<!--Hero Section-->
{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 bg-dark-subtle text-white fw-bold">
                    Organic Food as a Healthy Lifestyle
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn bg-success btn-lg rounded-bottom-circle py-3 fw-bold">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

<!--About Section-->

    <section id="about" class="my-2">
        <div class="container text-white">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="section-title fw-bold">About Us</h2>
                    <p>Welcome to Healthy Life Organic Shop! We are a passionate team committed to providing wholesome and sustainable products.</p>
                    <p>Founded by a mother of two, our shop offers a range of organic goods that are free from pesticides and GMO ingredients.</p>
                    <p>We value friendship, honesty, and happiness, and believe in a slow, mindful approach to life.</p>
                    <p>By supporting local farmers and embracing a sustainable ethos, we strive to create a healthier community. Join us on this journey towards a healthier and more sustainable lifestyle.</p>
                    
                </div>
            </div>
        </div>
    </section>
{% endblock %}
