<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Browse All
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fresh-produce-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Organic Fresh Produce
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fresh-produce-link">
                <a href="{% url 'products' %}?category=organic-fruits" class="dropdown-item">Fruits</a>
                <a href="{% url 'products' %}?category=organic-vegetables" class="dropdown-item">Vegetables</a>
                <a href="{% url 'products' %}?category=bulk-buy" class="dropdown-item">Bulk Buy</a>
                <a href="{% url 'products' %}?category=organic-fruits,organic-vegetables,bulk-buy" class="dropdown-item">All Fresh Produce</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="organic-groceries-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Organic Groceries
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=Cupboard" class="dropdown-item">Cupboard</a>
                <a href="{% url 'products' %}?category=pasta-rice" class="dropdown-item">Pasta and Rice</a>
                <a href="{% url 'products' %}?category=jams-spreads" class="dropdown-item">Jams ans Spreads</a>
                <a href="{% url 'products' %}?category=meat-fish" class="dropdown-item">Meat & Fish</a>
                <a href="{% url 'products' %}?category=Cupboard,pasta-rice,jams-spreads,meat-fish" class="dropdown-item">All Groceries</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=veg-box" class="dropdown-item">Veg Box</a>
                <a href="{% url 'products' %}?category=fruit-box" class="dropdown-item">Fruit box</a>
                <a href="{% url 'products' %}?category=rescue-corner" class="dropdown-item">Rescue Corner</a>
                <a href="{% url 'products' %}?category=veg-box,fruit-box,rescue-corner" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>